# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
5. R
10. Julia
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
5. NumPy
10. SciPy
5. TensorFlow
10. Plotly

### Data Science Tools
devenv|openst
|------|------|
Python|Jupyter Notebook
R|RStudio
Visual Studio|Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
List popular languages for Data Science
- Python
- R
- Java
- PHP
- Julia
- Ruby

## Author
Mrunalini